* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url(fonts/Gilroy-Bold.otf);
    font-weight: regular;
}

#contenido1 {
    background-color: black;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: relative;
}


#millones {
    font-size: 122pt;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    left: 15%;
    top: 30%;
    position: absolute;
}

.texto-nombre {
    position: absolute;
    top: 50%;
    left: 51%;
    color: #004d9f;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 23px;
    font-weight: bold;
    z-index: 2;
    text-align: center;
}

.imagen-foto {
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: 2.4rem;
    right: 1rem;
    z-index: 1;
}


/* 1080px */
@media (min-width: 768px) {
    .imagen-foto {
        width: 18rem;
        height: 18.1rem;
        top: 0.9rem;
        right: 3.4rem;
    }
}


/* 768x384 */
@media only screen and (max-width: 768px) {

    .millones {
        font-size: 85pt !important;
        font-family: 'Anton';
        color: #debe5c !important;
        left: 45%;
        top: 53%;
        font-style: normal;
        position: absolute;
    
    }
    .date {
        font-size: 35pt !important;
        font-family: 'Anton';
        color: #debe5c !important;
        left: 89%;
        top: 75%;
        font-style: normal;
        position: absolute;
    
    }
  


}


